# I want to not include my virtual enviroment and the standard mac file
# Eventually I want to add a personal notes file that wont be added to github either

# Ingnore VENV
*.venv 

# Ignore Mac File
*.DS_Store
